<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.zhh.pojo"></package>
    </typeAliases>

    <mappers>
        <mapper resource="/mapper/StudentMapper.xml"></mapper>
        <mapper resource="/mapper/XtMapper.xml"></mapper>
        <mapper resource="/mapper/EventMapper.xml"></mapper>
    </mappers>

</configuration>